---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Jesse Poteet',
	description: 'Business Coach',
};
---

<!-- <AnnouncementBar text="Just Launched a course for screen print businesses" href="/blog/posts/remote-work-mental-health/" slot="announcement-bar"/> -->
<Layout seo={seo} >
	<TextAndImageHero>
		<div slot="text-container">
			<h1>Entrepreneurs shouldn't be slave to their own business</h1>
			<p>I'm on a mission to help 10,000 entrepreneurs create profitable businesses and break free from the chains of a paycheck-to-paycheck business.</p>
		</div>
		<div slot="btns-container">
			<Button href="https://savvycal.com/jessepoteet/30" customIcon
				>Book a Discovery Call <Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right"/>
        </Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/jessepoteet.jpg"
				alt="Jesse Poteet"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="Fear isn’t only a guide to keep us safe; it’s also a manipulative emotion that can trick us into living a boring life."
		customerName="Donald Miller"
	/>

<!-- 	<YouTubeEmbedSection url="https://www.youtube.com/watch?v=cbYr75_R15M" rounded /> -->

  <StickyTextImageSection reversed>
    <div slot="text-container">
      <h2>Core Beliefs</h2>
      <h3>Serve First</h3>
      <p>
        Serve your customers, your team, and anyone else your business comes in contact with. Your business will thrive as a result.
      </p>
      <h3>Share Everything</h3>
        <p>
        Your knowledge is valuable, share it as freely as possible. Become the authority your ideal customer needs. 
      </p>
      <h3>Be in Community</h3>
        <p>
        Business is hard and just like life, is best done in community with others. Find other business leaders to surround you and share insights, encouragement, and connection.
      </p>
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/home/SSP_IMAGES-6.JPG"
        alt="Jesse Poteet"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>

  <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
    <h2>I'd like to hear about your business</h2>
    <p>Book a free, no obligation discovery call and let's talk.</p>
    <Button href="https://savvycal.com/jessepoteet/30" customIcon>Book now <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right"/>
    </Fragment></Button>
  </CtaCardSection>

</Layout>

